/* Error: Undefined variable.
 *   ,
 * 6 |     border-color: $color__border-button;
 *   |                   ^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass/base/elements/_buttons.scss 6:16  @use
 *   sass/base/_base.scss 19:1              @use
 *   sass/style.scss 71:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502      border-color: $color__border-button;\a   \2502                    ^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass/base/elements/_buttons.scss 6:16  @use\a   sass/base/_base.scss 19:1              @use\a   sass/style.scss 71:1                   root stylesheet";
}
