a {
	color: var(--wp--custom--link-color);

	&:visited {
		color: #ffffff;
	}

	&:hover,
	&:focus,
	&:active {
		color:  var(--wp--custom--link-color-hover);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
